<a href="/">Volta</a>
<h2>Adicione uma nota:</h2>
<form action="/notes" method="POST">
    <dir class="mb-3">
        <label for="title" class="form-label">Título:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="O que você pretende fazer?">
    </dir>
    <dir class="mb-3">
        <label for="description" class="form-label">Descrição:</label>
        <textarea class="form-control" name="description" id="description" placeholder="Descreva melhor esta nota..."></textarea>
    </dir>
    <button title="submit" class="btn btn-primary">Criar nota</button>
</form>